@use './variables.scss' as vars;
@use './mixins.scss' as mix;

// Tippy.js
@import 'react-tippy/dist/tippy.css';

// Helpers
@import './helpers.scss';

// Typography
@import './typography.scss';

// UI section
@import 'ui/button';


@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');

html[lang='ar']{
  body{
    direction: rtl;
  }
}

body {
  background-color: #fff !important;
  color: vars.$color--dark-gray;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
a:hover{
  color: inherit;
}

.ant-layout {
  background: vars.$color--lighter-gray;
}

.app-wrapper {
  .header {
    height: vars.$header-height;
  }
  .main-wrapper {
    margin-inline-start: vars.$sidebar-width;
  }
  .collapsed{
    margin-inline-start: vars.$sidebar-collapsed-width;

    .ant-page-header {
      width: calc(100% - #{vars.$sidebar-collapsed-width});
    }
  }
}
