
/**
 * Base layout sizing
 */
$header-height: 50px;
$sidebar-width: 273px;
$sidebar-collapsed-width: 70px;
$checkbox-width: 20px;
$checkbox-height: 20px;
$page-header-height: 84px;

$base-font-size: 14px;
$base-font-family: 'Lato', sans-serif;
$sidebar-font-size: 16px;
$tabs-font-size: 18px;
$page-header-font-size: 24px;
$sign-in-header-font-size: 30px;

/**
 * Base gutters
 */
$base-margin: 4px;
$base-padding: 4px;
$base-border-radius: 4px;
$base-radius: 5px;

/**
 * Color section
 */
$color--white: #fff;
$color--lighter-gray: #F3F7F9;
$color--mid-light-gray: #EAEFF3;
$color--light-gray: #CCD5DD;
$color--middle-gray: #74838A;
$color--dark-gray: #2C3E46;
$color--orange: #FF6F00;
$color--bright-orange: #FF881A;
$color--dull-orange: #FBD1AB;
$color--pale-orange: #FFEDDC;
$color--dark-green: #00A01A;
$color--uplifting-green: #35C04C;
$color--dull-green: #ECFFEF;
$color--red: #F03E3E;
$color--bright-red: #FFB8AE;
$color--dull-red: #FFF0F0;

$color--focus-outline: $color--light-gray;
$base-text-color: $color--dark-gray;

// Primary color set
$color--primary: rgb(224 242 254);
$color--primary-hover: $color--orange;
$color--primary-focus: $color--bright-orange;

// Default color set
$color--default: $color--white;
$color--default-active: $color--middle-gray;
$color--default-hover: $color--lighter-gray;
$color--primary-focus: $color--white;
