@use '../variables.scss' as vars;

.kc-lms-error {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  .kc-lms-error-inner {
    width: 400px;
    margin: 0 auto;
    text-align: center;

    h2 {
      font-weight: 700;

    }
  }
  .kc-logo {
    display: inline-block;
    background-image: url('/src/assets/images/mini-logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px;
  }
}
