@use '../variables.scss' as vars;

.btn {
  &.btn-primary {
    &.is-loading {
      position: relative;
      color: transparent !important;
      --l-size: 16px;
      --l-boarder: 2px;

      &::after,
      &::before {
        position: absolute;
        content: '';
        border-radius: 50%;
        width: var(--l-size);
        height: var(--l-size);
        border: var(--l-boarder) solid #fff;

        top:  calc(57% - (var(--l-size)/2) - var(--l-boarder));
        left: calc(50% - (var(--l-size)/2) - var(--l-boarder));
        width: var(--l-size) ;
        height: var(--l-size) ;
      }
      &::before {
        border: var(--l-boarder) solid #fff;
        opacity: 0.3;
      }
      &::after {
        border: var(--l-boarder) solid #fff;
        border-top-color: transparent !important;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        animation: spin 500ms linear infinite;
      }
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
