@use '../variables.scss' as vars;

.kc-loading,
.kc-loading::after,
.kc-loading::before {
  position: absolute;
}

$loader-size: 60px;
$loader-border: 4px;

.kc-loading::after,
.kc-loading::before {
  content: '';
  border-radius: 50%;
  width: $loader-size;
  height: $loader-size;
  border: $loader-border solid vars.$color--primary;
}

.kc-loading {
  --l-size: 60px;
  --l-boarder: 4px;

  top: calc(50% - ($loader-size * 0.5));
  left: calc(50% - ($loader-size * 0.5));
  width: calc($loader-size + $loader-border * 2);
  height: calc($loader-size + $loader-border * 2);

  &.kc-loader-logo {
    background-image: url('/src/assets/images/mini-logo.svg');
    background-repeat: no-repeat;
    background-position: 40% 41%;
    background-size: 40%;
  }

  &::before {
    border: $loader-border solid vars.$color--middle-gray;
    opacity: 0.3;
  }

  &::after {
    border: $loader-border solid vars.$color--primary;
    border-top-color: transparent;
    border-left-color: transparent;
    // border-right-color: transparent;
    animation: spin 1000ms linear infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
