@use '@src/assets/scss/variables.scss' as vars;

.clean-mark {
  background: none;
  color: inherit !important;
  padding: 0;
}
.mui-tag {
  color: inherit !important;
  border-right: vars.$base-radius;
  background-color: #fbff8a50;
  padding: 0;
}
