@use '../../../assets/scss/variables' as vars;

.kc-time-picker {
  &.ant-popover {
    &-arrow {
      display: none;
    }

    &-open.ant-btn {
      border: 1px solid vars.$color--default-active;
      background: vars.$color--default;

      &:focus {
        box-shadow: unset;
      }
    }
  }

  &-btn {
    text-align: left !important;
    font-weight: 400 !important;
    display: inline-flex !important;
    align-items: center;
    justify-content: space-between;
    padding: vars.$base-padding vars.$base-padding * 2 vars.$base-padding vars.$base-padding * 3 !important;

    .anticon {
      display: flex;
      align-items: center;
    }

    &.ant-btn:disabled {
      background-color: vars.$color--lighter-gray !important;
      color: vars.$color--light-gray;
    }

    .chevron-down-icon > svg {
      vertical-align: middle;
    }
  }

  .ant-btn:focus, &.ant-btn:active {
    border: unset !important;
  }
}
