@use '@src/assets/scss/variables.scss' as vars;
@use '@src/assets/scss/mixins.scss' as mix;

.App-header {
  padding: 0px 25px;
  background-color: white;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2;
  @include mix.shadow--light-1;
   .ant-btn{
     border-radius: 5px;
   }

}
.ant-dropdown-menu-item{
  &.ant-dropdown-menu-item-danger{
    color: vars.$color--bright-orange!important;
    &:hover{
      background-color: #f5f5f5!important;
      font-weight: 700!important;
    }
  }

}
.settingsButton{
  margin-inline-start: 0px;
  margin-inline-end: 20px;
  line-height: 100%;
  height: auto;
}
.account_menu{
  margin-inline-start: 15px;
  line-height: 100%;
  height: auto;
}
.account_menu button.ant-btn {
  /*border-radius: 5px;*/
}

.help-tooltip{
  margin-inline-start: auto;
  margin-inline-end: 15px;
  color: vars.$color--dark-gray;
}
.ant-tooltip-placement-bottom{
  top: 0;
  /*margin:0 1px 0 auto;*/
}

.dropdown_container{
  //top: 225px!important;
}
button.ant-btn{
  padding:4px 8px;
}
.account_menu{
  .anticon-user{
    position: relative;

      //&:after{
      //
      //content: '  ';
      //position: absolute;
      //right: -5px;
      //  top: 0;
      //  bottom: 0;
      //border-inline-end: solid  1px ;
      //}
  }
}
